.outerdiv {
    border: 1px solid black;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    width: 530px;
    height: 530px;
    margin: auto;
}  
.innerdiv {
    height:5px;
    width:5px;
    padding: 0px 0px;
}
.innerdiv:hover {
    background-color: red;
     color:white;
 }
 
 table {
    border-collapse: collapse;
    table-layout:fixed;
    padding: 0px 0px;
  }
  th, td {
    /* border: 1px solid #006; */
    word-wrap:break-word;
    padding:0px 0px;
  }
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
  .productsans {
    font-family: Product Sans;
  }
  .roboto{
    font-family: 'Roboto', sans-serif;
  }